# === DỮ LIỆU 
data/*.txt
data/*.csv

# === PYTHON & MÔI TRƯỜNG ===
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
.env

# === IDE & HỆ ĐIỀU HÀNH ===
.vscode/
.idea/
.DS_Store
Thumbs.db

# === MODELS ===
saved_models/*.joblib
# === RESULTS ===
results/charts/*.png
results/charts/*.jpg
results/*.txt
results/*.csv