# === DỮ LIỆU 
data/
*.txt
*.csv

# === PYTHON & MÔI TRƯỜNG ===
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
.env

# === IDE & HỆ ĐIỀU HÀNH ===
.vscode/
.idea/
.DS_Store
Thumbs.db

# === MODELS ===
models/*.pkl
models/*.joblib